Repository skrub-data/skrub, pull requests merged in 2025-04, with the labels that each got.

#1255 Skip Plotting in Table Report Based on Max Columns Given
  CHANGES.rst
  skrub/_reporting/_data/templates/_variables.css
  skrub/_reporting/_data/templates/base.css
  skrub/_reporting/_data/templates/buttons.html
  skrub/_reporting/_data/templates/column-summaries.html
  skrub/_reporting/_data/templates/report.js
  skrub/_reporting/_patching.py
  skrub/_reporting/_summarize.py
  skrub/_reporting/_table_report.py
  skrub/_reporting/tests/test_patch_display.py
  skrub/_reporting/tests/test_table_report.py
Labels: TableReport

#1283 Fix rst in docstrings
  skrub/_column_associations.py
Labels: documentation, no changelog needed

#1291 Update tagline (and a few names)
  pyproject.toml
Labels: no changelog needed

#1319 [MRG] DOC: add expressions on front page
  doc/Makefile
  doc/_static/css/custom.css
  doc/_templates/index.html
  doc/conf.py
  doc/generate_pipeline_for_index.py
  pyproject.toml
  skrub/_expressions/_parallel_coord.py
Labels: documentation, no changelog needed

#1318 Fix a malformated docstring
  CHANGES.rst
  examples/03_datetime_encoder.py
  examples/04_fuzzy_joining.py
  skrub/_table_vectorizer.py
Labels: documentation, no changelog needed

#1326 add notes about re-running notebook cells with side-effects
  examples/expressions/10_expressions_intro.py
  examples/expressions/11_expressions_explained.py
  examples/expressions/12_scikit_learn_estimators_in_expressions.py
  examples/expressions/13_choices.py
  skrub/_expressions/_evaluation.py
  skrub/_expressions/tests/test_errors.py
Labels: no changelog needed, expressions

#1325 make the choice name optional
  examples/expressions/13_choices.py
  skrub/_expressions/_choosing.py
  skrub/_expressions/_estimator.py
  skrub/_expressions/_evaluation.py
  skrub/_expressions/_expressions.py
  skrub/_expressions/_inspection.py
  skrub/_expressions/_parallel_coord.py
  skrub/_expressions/_skrub_namespace.py
  skrub/_expressions/tests/test_choosing.py
  skrub/_expressions/tests/test_estimators.py
  skrub/_expressions/tests/test_evaluation.py
  skrub/_expressions/tests/test_inspection.py
  skrub/_expressions/tests/test_parallel_coord.py
Labels: no changelog needed, expressions

#1324 use cloudpickle to serialize expressions held in an estimator + skip eager pickling checks
  skrub/_expressions/_estimator.py
  skrub/_expressions/_expressions.py
  skrub/_expressions/_skrub_namespace.py
  skrub/_expressions/_utils.py
  skrub/_expressions/tests/test_errors.py
  skrub/_expressions/tests/test_estimators.py
Labels: no changelog needed, expressions

#1336 fix missing return
  skrub/_expressions/_expressions.py
  skrub/_expressions/tests/test_errors.py
Labels: no changelog needed, expressions

#1314 Add skrub pipeline user guide
  doc/_static/sklearn_pipeline.svg
  doc/_static/skrub_expressions.svg
  doc/documentation.rst
  doc/skrub_pipeline.rst
  examples/expressions/10_expressions_intro.py
  examples/expressions/11_choices.py
  examples/expressions/11_expressions_explained.py
  examples/expressions/12_scikit_learn_estimators_in_expressions.py
Labels: documentation, expressions

#1339 better handling of integer columns in parallel coord plots
  examples/expressions/10_expressions_intro.py
  examples/expressions/11_choices.py
  skrub/_expressions/_estimator.py
  skrub/_expressions/_parallel_coord.py
  skrub/_expressions/tests/test_parallel_coord.py
Labels: no changelog needed, expressions

#1315 expressions cross_validate return DataFrame
  skrub/_expressions/_estimator.py
  skrub/_expressions/_skrub_namespace.py
Labels: expressions

#1348 remove skrub.train_test_split
  skrub/__init__.py
  skrub/_expressions/__init__.py
  skrub/_expressions/_estimator.py
Labels: no changelog needed, expressions

#1349 Rename "estimator" to "pipeline"
  doc/reference/index.rst
  doc/skrub_pipeline.rst
  examples/FIXME/11b_expressions_explained_alternative_take_TODO_unify_both.py
  examples/expressions/11_choices.py
  skrub/__init__.py
  skrub/_expressions/__init__.py
  skrub/_expressions/_estimator.py
  skrub/_expressions/_expressions.py
  skrub/_expressions/_skrub_namespace.py
  skrub/_expressions/tests/test_errors.py
  skrub/_expressions/tests/test_estimators.py
  skrub/_expressions/tests/test_expressions.py
Labels: no changelog needed, expressions

#1356 rename sub_pipeline -> truncated_after
  skrub/_expressions/_estimator.py
  skrub/_expressions/tests/test_estimators.py
Labels: no changelog needed, expressions

#1331 More cross-references in the expressions doc
  skrub/_expressions/_choosing.py
  skrub/_expressions/_estimator.py
  skrub/_expressions/_expressions.py
  skrub/_expressions/_skrub_namespace.py
Labels: documentation, expressions

#1357 use doctests in skrub pipeline user guide
  .github/workflows/testing.yml
  doc/skrub_pipeline.rst
  pyproject.toml
Labels: documentation
