Repository skrub-data/skrub, pull requests merged in 2025-05, with the labels that each got.

#1373 Small improvement to the Cleaner docstring
  skrub/_table_vectorizer.py
Labels: no changelog needed

#1361 Add a `default` parameter to choices
  examples/expressions/11_choices.py
  skrub/_expressions/_choosing.py
  skrub/_expressions/_evaluation.py
  skrub/_expressions/_skrub_namespace.py
  skrub/_expressions/_utils.py
  skrub/_expressions/tests/test_choosing.py
  skrub/_expressions/tests/test_inspection.py
Labels: enhancement, no changelog needed, expressions

#1374 Fixing formatting and improving docstring
  skrub/_datetime_encoder.py
Labels: documentation, no changelog needed

#1378 Order in the parallel coordinate plot
  skrub/_expressions/_estimator.py
  skrub/_expressions/_skrub_namespace.py
  skrub/_expressions/tests/test_estimators.py
  skrub/_expressions/tests/test_parallel_coord.py
Labels: no changelog needed, expressions

#1365 Add user guide page on expressions validation & param search
  doc/documentation.rst
  doc/skrub_pipeline_validation.rst
  examples/expressions/11_choices.py
Labels: documentation, expressions

#1383 Enable multi scoring for parallel plot
  skrub/_expressions/_estimator.py
  skrub/_expressions/_parallel_coord.py
  skrub/_expressions/tests/test_parallel_coord.py
Labels: no changelog needed, expressions

#1387 Change parallel coord order to put score last
  skrub/_expressions/_estimator.py
  skrub/_expressions/tests/test_estimators.py
  skrub/_expressions/tests/test_parallel_coord.py
Labels: no changelog needed, expressions

#1328 Add subsampling to expressions
  doc/reference/index.rst
  doc/skrub_pipeline.rst
  examples/expressions/10_expressions_intro.py
  examples/expressions/11_choices.py
  examples/expressions/12_subsampling.py
  skrub/_expressions/_estimator.py
  skrub/_expressions/_expressions.py
  skrub/_expressions/_skrub_namespace.py
  skrub/_expressions/_subsampling.py
  skrub/_expressions/tests/test_interactive_features.py
  skrub/_expressions/tests/test_subsampling.py
Labels: enhancement, no changelog needed, expressions

#1379 Add iterator over choice combinations + pipeline param description
  doc/reference/index.rst
  doc/skrub_pipeline_validation.rst
  examples/expressions/10_expressions_intro.py
  examples/expressions/11_choices.py
  skrub/_expressions/_estimator.py
  skrub/_expressions/_evaluation.py
  skrub/_expressions/_inspection.py
  skrub/_expressions/_skrub_namespace.py
  skrub/_expressions/tests/test_estimators.py
  skrub/_expressions/tests/test_inspection.py
Labels: no changelog needed, expressions

#1390 add some comments in _evaluation.py and _estimator.py
  skrub/_expressions/_estimator.py
  skrub/_expressions/_evaluation.py
  skrub/_expressions/_expressions.py
  skrub/_expressions/_inspection.py
  skrub/_expressions/_utils.py
Labels: no changelog needed, expressions

#1389 add some comments in `_expressions.py`
  skrub/_expressions/_expressions.py
Labels: documentation, no changelog needed, expressions

#1386 wrap parallel coordinate plot tick labels
  skrub/_expressions/_parallel_coord.py
  skrub/_expressions/tests/test_parallel_coord.py
Labels: no changelog needed, expressions

#1399 Small fix to Cleaner docs
  skrub/_table_vectorizer.py
Labels: documentation, no changelog needed

#1393 Improve contributing guide
  CONTRIBUTING.rst
  doc/install.rst
  doc/table_report.py
Labels: documentation, no changelog needed
